* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.nav {
  display: flex;
}

.nav-links ul a {
  display: flex;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
